.formfontstyle{
  font-size: 14px;
  font-family: SourceHanSansCN-Regular;
  color: #333333;
  font-weight: Regular;
}
/* 用于表单form字体的样式 */
/* .management{
  position: absolute;
  bottom: 20px;
  width:341.66px;
  height:46px;
  line-height: 46px;
  font-size: 16.66px;
  margin:0 20px;
  border-radius: 23.33px;
  color:#fff;
  background:linear-gradient(to left,#004EFF,#34AEFB);
} */
/* 按钮样式 */